.container {
    display: flex;
    flex-direction: column;
}

.link-google {
    color: lightblue;
    transition: 0.5s;
}

.link-google:hover {
    color: red;
}

.bag {  display: flex;
    flex-direction: column;}

.link-youtube {
    color: crimson;
}