

.seta .topo img{

    width: 50px;
}

::marker{
    color: rgb(9, 0, 2);
    size: 5px;
    text-shadow: 3px 3px #b8b8b8;
}


        .pontilhado {
            text-decoration: underline dotted; /* Sublinhado pontilhado */
            text-decoration-thickness: 2px;    /* Espessura do sublinhado */
            text-decoration-color: #333;       /* Cor do sublinhado */
        }

        .sublinhado {
            text-decoration: underline;
            text-decoration-thickness: 2px;    /* Espessura do sublinhado */
            text-decoration-color: #333;  
        }
   